.vxe-gantt-view--chart-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.vxe-gantt-view--chart-row {
  position: relative;
  width: 100%;
  height: 0;
  &.is--round {
    & > .vxe-gantt-view--chart-bar,
    & > .vxe-gantt-view--chart-custom-bar {
      border-radius: var(--vxe-ui-gantt-view-task-bar-border-radius);
      &:hover {
        &::after {
          border-radius: var(--vxe-ui-gantt-view-task-bar-border-radius);
        }
      }
    }
  }
}
.vxe-gantt-view--chart-bar,
.vxe-gantt-view--chart-custom-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: var(--vxe-ui-gantt-view-task-bar-background-color);
  overflow: hidden;
  pointer-events: all;
}
.vxe-gantt-view--chart-bar {
  align-items: center;
  height: var(--vxe-ui-gantt-view-chart-bar-height);
  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  }
}
.vxe-gantt-view--chart-progress {
  flex-shrink: 0;
  width: 0;
  height: 100%;
  text-align: left;
  background-color: var(--vxe-ui-gantt-view-task-bar-completed-background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vxe-gantt-view--chart-content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  padding: 0 0.6em;
}

/*行拖拽*/
.vxe-gantt-view--chart-row {
  &.row--drag-move {
    transition: transform 0.5s ease;
  }
  &.row--drag-origin {
    opacity: 0.3;
  }
}