:root {
  /*gantt*/
  --vxe-ui-gantt-view-default-cell-width: 2.6em;
  --vxe-ui-gantt-view-chart-bar-height: 1.6em;
  --vxe-ui-gantt-view-split-bar-width: 0.68em;
  --vxe-ui-gantt-view-split-bar-height: 3.2em;
  --vxe-ui-gantt-view-table-default-width: 30%;
  --vxe-ui-gantt-view-task-bar-border-radius: calc(var(--vxe-ui-gantt-view-split-bar-height) / 2);
  --vxe-ui-gantt-view-task-bar-background-color: var(--vxe-ui-font-primary-lighten-color);
  --vxe-ui-gantt-view-task-bar-completed-background-color: var(--vxe-ui-font-primary-color);
  --vxe-ui-gantt-view-task-line-color: var(--vxe-ui-font-primary-color);
  --vxe-ui-gantt-view-task-line-arrow-width: 5;
}