@use './base.scss';

[data-vxe-ui-theme="dark"] {
  /*gantt*/
  --vxe-ui-gantt-view-handle-background-color: #9f9f9f;
  --vxe-ui-gantt-view-split-bar-background-color: #444444;
  --vxe-ui-gantt-view-split-bar-hover-background-color: #606060;
}
